.content-admin {
  padding: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  gap: 10px;
}