:root {
  --primary-color: #000000;
  --secondary-color: #222222;
  --tertiary-color: #515151;
  --accent-color: #006297;
  --font-color: #FFFFFF;
  --font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.header {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

.main-content {
  background-color: var(--tertiary-color);
  flex: 1;
  display: flex;
  flex-direction: column;
}